<h1>Figure object</h1>




<div class="container-fluid">


    <div class="row">
        <div class="col-sm-4 bgDemo">
            <svg id="svg01" width="300" height="300" style="border-style: solid;"></svg>
        </div>
        <div class="col-sm-8 bgTextBox">
            <h4>Figure as a js object</h4>
            <div id="boxsize">
            </div>
            <pre>
            <code>

            </code>
        </pre>
        </div>
    </div>


</div>






<script>
    function SVG(elementName) {
        return document.createElementNS('http://www.w3.org/2000/svg', elementName);
    }

    class Figure {
        constructor() {
            this.svg = new SVG("g")
        }

        process(jdata) {
            var elements = []
            var keys = Object.keys(jdata);
            jdata.forEach(element => {
                console.log(element)
                var elem = SVG(element.svgtype);
                var attributes = element.attributes;
                let a
                for (a in attributes) {
                    elem.setAttribute(a, attributes[a])
                }

                elem.setAttribute("id", element.count)
                elements.push(elem);
            });
            for (const key in elements) {
                if (elements.hasOwnProperty(key)) {
                    var elem = elements[key];
                    this.svg.appendChild(elem);
                }
            }
        }
        move(svg_canvas, size, xpos){
            var rect = this.svg.getBBox();
            let x = rect.x;
            let h = rect.height;
            let y = rect.y;
            let w = rect.width;
            x = -x;
            y = -y;
            let height = parseInt(svg_canvas.getAttribute("height"))
            this.scale = (height / h) * size;
            console.log(this.scale);
            this.y = y * this.scale + (height - (h * this.scale));
            let offset = (w * this.scale) / 2
            this.x = x * this.scale + xpos - offset
            this.svg.setAttribute("transform", "translate(" + this.x + "," + this.y + ") scale(" + this.scale + "," + this.scale +
                ")");
        }
        add(svg_canvas, size, xpos) {
            svg_canvas.appendChild(this.svg)
            this.move(svg_canvas, size, xpos)
        }
    }




    function loadFiles(files, figures, action) {
        if (figures.length < files.length) {
            fetch("img/" + files[figures.length])
                .then(response => response.json())
                .then(json => {
                    figures.push(json)
                    loadFiles(files, figures, action)
                    //add(figure,frame, 0.5, parseInt(80))
                });
        } else {
            action(figures);
        }
    }

    let done = function (out) {
        for (j in out) {
            let character = new Figure()
            for (k in out[j].the_character) {
                for (i in out[j].the_character[k]) {
                    console.log(j, k, i, out[j].the_character[k][i]);
                    character.process(out[j].the_character[k][i])
                    break
                }

            }
            character.add(frame,0.5,80)
            character.move(frame,0.5,25)
            //print(out[j].length)
            //printAllVals(out[j])
        }
    }


    function printAllVals(obj) {
        for (let k in obj) {
            if (typeof obj[k] === "object") {
                printAllVals(obj[k])
            } else {
                // base case, stop recurring
                console.log(obj[k]);
            }
        }
    }

    function init() {
        let frame = document.getElementById("svg01");
        let figure = new SVG("g")
        let files = ['character_new_mum.json']
        let figures = []
        loadFiles(files, figures, done)


    }
    let frame = document.getElementById("svg01");
    while (frame.firstChild) {
        frame.removeChild(frame.firstChild);
    }
    init();
</script>