<h1>SVG speech bubble object </h1>
<p></p>


<div class="container-fluid">


    <div class="row">
        <div class="col-sm-4 bgDemo">
            <svg id="svg01" width="300" height="300" style="border-style: solid;"></svg>
            <br>
            <br>
            <br>
            <div class="form-group">
                <label for="pwd">Text</label>
                <input id="txt1" type="text" class="form-control" id="pwd">
            </div>
            <button type="button" class="btn btn-success"
                onclick="section1(document.getElementById('txt1').value)">Write</button>
        </div>
        <div class="col-sm-8 bgTextBox">
            <h4>Speech bubble</h4>
            <div id="boxsize">
            </div>
            <pre>
            <code>

            </code>
        </pre>
        </div>
    </div>


</div>






<script>
    function SVG(elementName) {
        return document.createElementNS('http://www.w3.org/2000/svg', elementName);
    }

    class Bubble {
        constructor() {
            this.text = SVG("text")
            this.textGroup = SVG("g")
            this.box = SVG("poly")
            this.pointer = SVG("polyline")
            this.bubble = SVG("g")
            this.xOffset = 0
            this.yOffset = 0
            this.xPoint = 0
            this.yPoint = 0
            this.box.setAttribute("fill", "rgb(245,245,255)")
            this.box.setAttribute("stroke", "black")
            this.box.setAttribute("x", "0")
            this.box.setAttribute("y", "0")
            this.box.setAttribute("rx", "10")
            this.box.setAttribute("ry", "10")
            this.box.setAttribute("stroke-width", "0.5")
            this.textGroup.appendChild(this.text)
            this.bubble.appendChild(this.box)
            this.bubble.appendChild(this.textGroup)
        }

        addText(bubbleText) {
            function setLine(bubble, bubbleText) {
                let text = SVG("text");
                let txt = document.createTextNode(bubbleText);
                text.appendChild(txt);
                bubble.appendChild(text)
                let bboxtext = bubble.getBBox();
                let offset = bboxtext.height;
                text.setAttribute("transform", "translate(" + 4 + "," + offset + ")");
            }
            
            let words = bubbleText.split(" ");
            var count = 0
            var line = words[count]
            var flag = true;
            while (flag) {
                while (((line.length + words[count].length) < 20) && (flag)) {
                    count++;
                    line += " " + words[count]
                    flag = count < words.length - 1;
                }
                setLine(this.textGroup, line);
                line = ""
            }
            let bboxtext = this.textGroup.getBBox();
            this.box.setAttribute("width", bboxtext.width + 16)
            this.box.setAttribute("height", bboxtext.height + 16)
        }
    }



    function section1(bubbleText) {
        let frame = document.getElementById("svg01");
        while (frame.firstChild) {
            frame.removeChild(frame.firstChild);
        }
        let bubble = new Bubble()
        bubble.addText(bubbleText)
        frame.appendChild(bubble.bubble)

    }

    section1("This is a very long line and should go on more than one line in the bubble")
</script>