<h1>SVG Bubble 3 </h1>
<p>Work in progress</p>


<div class="container-fluid">


    <div class="row">
        <div class="col-sm-4 bgDemo">
            <svg id="svg01" width="300" height="300" style="border-style: solid;"></svg>
            <br>
            <br>
            <br>
            <div class="form-group">
                <label for="pwd">Text</label>
                <input id="txt1" type="text" class="form-control" id="pwd">
              </div>
              <button type="button" class="btn btn-success" onclick="section1(document.getElementById('txt1').value)">Write</button>
        </div>
        <div class="col-sm-8 bgTextBox">
            <h4>Speech bubble</h4>
            <div id="boxsize">
            </div>
            <pre>
            <code>

            </code>
        </pre>
        </div>
    </div>


</div>






<script>
    function SVG(elementName) {
        return document.createElementNS('http://www.w3.org/2000/svg', elementName);
    }


    function setPoly(x, y, frame) {
        let poly = SVG("polygon")
        poly.setAttribute("fill", "none")
        poly.setAttribute("stroke", "black")
        let array = [[0, y], [5, y], [20, 200], [15, y], [x, y], [x, 0], [0, 0]]
        for (let value of array) {
            let point = frame.createSVGPoint();
            point.x = value[0];
            point.y = value[1]
            poly.points.appendItem(point);
        }
        return poly
    }
    
    function setLine(frame,bubble, fontFamily,bubbleText){
        let text = SVG("text");
        let txt = document.createTextNode(bubbleText);
        text.appendChild(txt);
        text.style.fontFamily = fontFamily;
        bubble.appendChild(text)
        frame.appendChild(bubble)
        let bboxtext = bubble.getBBox();
        let offset = bboxtext.height;
        text.setAttribute("transform", "translate(" + 4 + "," + offset + ")");
        return bboxtext;
    }
    function section1(bubbleText) {

        let frame = document.getElementById("svg01");
        while (frame.firstChild) {
            frame.removeChild(frame.firstChild);
        }
        let bubble = SVG("g")
        let fontFamily = "Comic Neue, cursive"
        let bboxtext = setLine(frame,bubble,fontFamily,bubbleText);
        bboxtext = setLine(frame,bubble,fontFamily,bubbleText);
        bboxtext = setLine(frame,bubble,fontFamily,bubbleText);
        bboxtext = setLine(frame,bubble,fontFamily,bubbleText);
        bboxtext = setLine(frame,bubble,fontFamily,bubbleText);

        console.log(bboxtext.width)
        console.log(bboxtext.height)
        let poly = setPoly(bboxtext.width*1+8, bboxtext.height+8, frame)


        bubble.appendChild(poly)
        bubble.setAttribute("transform", "translate(" + 20 + "," + 20 + ")");
        
    }

    section1("this is a line of text")
</script>