<h1>SVG image figure object</h1>
<p>Text can be placed in the text box and the figure can be positioned with the slider</p>



<div class="container-fluid">


    <div class="row">
        <div class="col-sm-4 bgDemo">
            <svg id="svg01" width="300" height="300" style="border-style: solid;"></svg>
            <br>
            <br>
            <br>
            <div class="form-group">
                <label for="pwd">Text</label>
                <input id="txt1" type="text" class="form-control" value="Write text in here" id="pwd">
                <br>
                <input type="range" min="50" max="200" value="80" class="slider" id="sld1">
                <p>Position : <span id="pos">80</span></p>
            </div>
            <button type="button" class="btn btn-success"
                onclick="update(document.getElementById('txt1').value,document.getElementById('sld1').value)">Write</button>
        </div>
        <div class="col-sm-8 bgTextBox">
            <h4>JSON figure with speach bubble </h4>
            <div id="boxsize">
            </div>
            <pre>
            <code>

            </code>
        </pre>
        </div>
    </div>


</div>






<script>
    function SVG(elementName) {
        return document.createElementNS('http://www.w3.org/2000/svg', elementName);
    }



    function process(ct) {
        var head = SVG("image")
        var headImage = "head_colour_test-02.svg";
        head.setAttribute('href', "img/" + headImage);
        head.setAttribute("height","100%")    
        ct.appendChild(head)
        var torso = SVG("image")
        var torsoImage = "torso_colour_test-02.svg";
        torso.setAttribute('href', "img/" + torsoImage);
        torso.setAttribute("height", "100%")
        ct.appendChild(torso)
        
    }

    function add(ct, frame, size, xpos) {
        frame.appendChild(ct)
        ct.setAttribute("transform", "translate( 100,100) scale(" +size+ "," + size +")");
        let ratio = ct.getBoundingClientRect().left/ct.getBoundingClientRect().bottom
        console.log(ct.getBoundingClientRect().left,ct.getBoundingClientRect().bottom);
        height = frame.getAttribute("height")
        let figureWidth = Math.round(height * 0.3 * size * 0.5) 
        console.log(height , ratio , size,xpos,figureWidth);
        ct.setAttribute("transform", "translate(" + (xpos-figureWidth) + "," + height/2 + ") scale(" +size+ "," + size +")"); 
    }

    function setLine(bubble, fontFamily, bubbleText) {
        let text = SVG("text");
        let txt = document.createTextNode(bubbleText);
        text.appendChild(txt);
        //text.style.fontFamily = fontFamily;
        bubble.appendChild(text)
        let bboxtext = bubble.getBBox();
        let offset = bboxtext.height;
        text.setAttribute("transform", "translate(" + 4 + "," + offset + ")");
    }

    function section1(bubbleText, pos) {
        var bground = SVG("image")
        var backgroundImage = "nick-nazzaro-desert.png";
        bground.setAttribute('href', "img/" + backgroundImage);
        bground.setAttribute("height", "100%")
        frame.appendChild(bground)
        let bubble = SVG("g")
        let textGroup = SVG("g")
        let poly = SVG("rect")
        poly.setAttribute("fill", "rgb(245,245,255)")
        poly.setAttribute("stroke", "black")
        poly.setAttribute("x", "0")
        poly.setAttribute("y", "0")
        poly.setAttribute("rx", "10")
        poly.setAttribute("ry", "10")

        poly.setAttribute("stroke-width", "0.5")
        bubble.appendChild(poly)
        bubble.appendChild(textGroup)
        frame.appendChild(bubble)
        bubble.setAttribute("transform", "translate(" + 0 + "," + 0 + ")");
        textGroup.setAttribute("transform", "translate(" + 4 + "," + 4 + ")");
        let fontFamily = "Comic Neue, cursive"
        let words = bubbleText.split(" ");
        var count = 0
        var line = words[count]
        var flag = true;
        while (flag) {
            while (((line.length + words[count].length) < 20) && (flag)) {
                count++;
                line += " " + words[count]
                flag = count < words.length - 1;
            }
            setLine(textGroup, fontFamily, line);
            line = ""
        }
        let bboxtext = textGroup.getBBox();
        poly.setAttribute("width", bboxtext.width + 16)
        poly.setAttribute("height", bboxtext.height + 16)
        let polyl = SVG("polyline")
        polyl.setAttribute("fill", "rgb(245,245,255)")
        polyl.setAttribute("stroke", "black")
        polyl.setAttribute("stroke-width", "0.5")
        let array = [
            [60, bboxtext.height + 15],
            [pos, 145],
            [80, bboxtext.height + 15]
        ]
        for (value of array) {
            point = frame.createSVGPoint();
            point.x = value[0];
            point.y = value[1]
            polyl.points.appendItem(point);
        }
        bubble.appendChild(polyl)
    }

    function update(txt, pos) {
        section1(txt, parseInt(pos))
        add(figure,frame,0.5, parseInt(pos))
        console.log(figure.getBoundingClientRect());
    }



    var slider = document.getElementById("sld1");
    var output = document.getElementById("pos");
    output.innerHTML = slider.value;
    slider.oninput = function () {
        output.innerHTML = this.value;
    }
    let frame = document.getElementById("svg01");
    while (frame.firstChild) {
        frame.removeChild(frame.firstChild);
    }
    let figure = new SVG("g")
    process(figure,frame)
    update("Text can be placed in the text box and the figure can be positioned with",80); 
</script>