<style>
    .menu-top{
        position: absolute;
        opacity: 0.9;  /* for demo purpose  */
        top: 0;
        z-index: 9;
        margin: 0px;
        width: 250px;
        height:200px;
        left:0px; 
        background-color: #111;
        color:white;
        overflow-x: hidden;
        font-size: 20PX;
        visibility: hidden;/* for demo purpose  */
    }

</style>


<div class="container-fluid">


    <div class="row">
        <div class="col-sm-8 bgDemo">
            <svg id="svg01" width="700" height="500" style="border-style: solid;"></svg>
        </div>
        <div class="col-sm-4" style="background-color: gainsboro; padding-top: 20px;">
            <textarea id="textarea1" rows="12" cols="32">Background here none yet
pat,jim
pat"Hi I'm Pat"
jim"And I'm Jim":eyesleft
pat"You can change our pose and our expression.":crossarms:eyesright
pat"I have my crossarms and eyesright"
            </textarea>
            <button class="btn btn-primary" onclick="submitText('svg01','textarea1') ">Submit</button>

        </div>
    </div>


</div>

<div id="menu" class="menu-top">
    <ul>
        <li id="smile">Smile</li>     
        <li>Cross</li>     
    </ul>
  </div>

<script src="js/characters.js"></script>
<script>

    function submitText(svgId, textId) {
        var frame = document.getElementById(svgId);
        while (frame.firstChild) {
            frame.removeChild(frame.firstChild);
        }
        var width = frame.getAttribute("width") 
        console.log(width);
        var textAreas = document.getElementById(textId);
        console.log(textAreas.value)
        var comic = textAreas.value.split('\n')
        var characters = {
            "pat": {"charater":new Charater({
                "name": "newmum",
                "parts": {
                    "eyes": {
                        "right": "newmum_eyes_right_h34_w108.svg",
                        "left": "newmum_eyes_left_h34_w108.svg",
                        "happy": "newmum_eyes_happy_h34_w108.svg",
                        "neutral": "newmum_eyes_neutral_h34_w108.svg"
                    },
                    "mouth": {
                        "neutral": "newmum_mouth_neutral_h11_w50.svg",
                        "happy": "newmum_mouth_happy.svg",
                        "sad": "newmum_mouth_sad.svg"
                    },
                    "torso": {
                        "neutral": "newmum_torso_neutral_h1187_323.svg",
                        "armscrossed": "newmum_torso_armscrossed_h1187_323.svg"
                    },
                    "head": {
                        "neutral": "newmum_head_neutral_h278_w174.svg"
                    }
                }
            }),"order":0},
            "jim": {"charater":new Charater({
                "name": "newmum",
                "parts": {
                    "eyes": {
                        "right": "newdad_eyes_right_h37_w113.svg",
                        "left": "newdad_eyes_left_h37_w113.svg",
                        "happy": "newdad_eyes_right_h37_w113.svg",
                        "neutral": "newdad_eyes_neutral_h37_w113.svg"
                    },
                    "mouth": {
                        "neutral": "newdad_mouth_neutral_h14_w45.svg",
                        "happy": "newdad_mouth_neutral_h14_w45.svg",
                        "sad": "newdad_mouth_neutral_h14_w45.svg"
                    },
                    "torso": {
                        "neutral": "newdad_torso_neutral_h1234_w389.svg",
                        "armscrossed": "newdad_torso_armsbehind_h1234_w389.svg"
                    },
                    "head": {
                        "neutral": "newdad_head_neutral_h261_w180.svg"
                    }
                }
            }),"order":0}
        }


        // Speech and expressions
        if (comic.length > 1) {
            chars = comic[1].split(",")
            var pos = 10
            var charaterPos = 10
            var c = 0
            for (c = 0; c < chars.length; c++) {
                var key = chars[c].trim()
                characters[key].order = c;
                //console.log(key)
                characters[key].charater.add(frame,0.8,charaterPos)
                charaterPos+=width-180
            }
            console.log("Comic length ",comic.length);
            if (comic.length > 2) {
                for (i = 2; i < comic.length; i++) {
                    console.log(comic[i]);
                    scomic = comic[i].split('"');
                    var key = scomic[0].trim()
                    console.log(key)
                    if (characters[key] != undefined) {
                        //console.log(scomic[1])
                        var speechBubble = new SpeechBubble(scomic[1])
                        frame.appendChild(speechBubble.group)
                        var xPos = 160
                        if (characters[key].order == 1) {
                            xPos = 315
                        }
                        speechBubble.group.setAttribute("transform", "translate(" + xPos + "," + pos + ")")
                        pos += speechBubble.group.getBBox().height + 20
                        expressions = comic[i].split(":")
                        for (e in expressions) {
                            characters[key].charater.expression(expressions[e]);
                        }
                    }
                }
            }
        }
        
    }

    submitText("svg01","textarea1");
</script>