<style>
    #tooltip {
        background: cornsilk;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
    }
</style>



<h1>SVG Ploygon </h1>
<p></p>


<div class="container-fluid">


    <div class="row">

        <div class="col-sm-4 bgDemo">
            <svg id="svg01" width="300" height="300" style="border-style: solid;"></svg>
        </div>
        
    </div>

    <div id="tooltip" display="none" style="position: absolute; display: none;"></div>

</div>






<script>
    function showTooltip(evt, text) {
        let tooltip = document.getElementById("tooltip");
        tooltip.innerHTML = text;
        tooltip.style.display = "block";
        tooltip.style.left = evt.pageX + 10 + 'px';
        tooltip.style.top = evt.pageY + 10 + 'px';
    }

    function hideTooltip() {
        var tooltip = document.getElementById("tooltip");
        tooltip.style.display = "none";
    }

    function SVG(elementName) {
        return document.createElementNS('http://www.w3.org/2000/svg', elementName);
    }
   
    class SVGCell {
        constructor(id, size) {
            this.xPos = 0;
            this.yPos = 0;
            this.svg = SVG("rect")
            this.size = size
            this.id = id
            this.svg.setAttribute("x",this.xPos)
            this.svg.setAttribute("y",this.yPos)
            this.svg.setAttribute("width",this.size)
            this.svg.setAttribute("height",this.size)
            this.svg.addEventListener('mouseout', function (e) {
                //e.currentTarget.setAttribute('fill', '#ff00cc');
                hideTooltip()
            });
        }

        setColor(color) {
            this.svg.setAttribute("fill", color)
        }
        move(x, y) {
            this.xPos = x
            this.yPos = y
            this.svg.setAttribute("transform", "translate(" + x * this.size + "," + y * this.size + ")");
        }
    }
    var frame = document.getElementById("svg01");
    var size = 65
    var scale = 10
    var grid =[]
    function section1() {
        point = frame.createSVGPoint();
        let bubble = SVG("g")

        for (y = 0; y < 65; y++) {
            grid.push([])
            for (x = 0; x < 65; x++) {
                let cell = new SVGCell("x:"+x+" y:"+y, 10)
                r = Math.floor(Math.random() * 255)
                g = Math.floor(Math.random() * 255)
                b = Math.floor(Math.random() * 255)
                cell.setColor("rgba("+r+","+b+","+g+", 0.5)")
                cell.move(x, y)
                cell.svg.addEventListener('mouseover', function (e) {
                    showTooltip(e, cell.id)
                });
                bubble.appendChild(cell.svg)
                grid[y].push(cell)
            }
        }
        bubble.setAttribute("transform","scale("+frame.getAttribute("width")/(size*scale)+","+frame.getAttribute("width")/(size*scale)+")")
        frame.appendChild(bubble)
        for( x=10;x<20;x++){
            for(y=10;y<20;y++){
                bubble.removeChild(grid[x][y].svg)
            }
        }
        
        return bubble
    }

//     const getTransformString = (scale, x, y) =>
//   "scale(" + scale + ") " + "translateX(" + x + "%) translateY(" + y + "%)";

//     const getTransformParameters = (element) => {
//   const transform = element.style.transform;
//   let scale = 1,
//     x = 0,
//     y = 0;
//   if (transform.includes("scale"))
//     scale = parseFloat(transform.slice(transform.indexOf("scale") + 6));
//   if (transform.includes("translateX"))
//     x = parseInt(transform.slice(transform.indexOf("translateX") + 11));
//   if (transform.includes("translateY"))
//     y = parseInt(transform.slice(transform.indexOf("translateY") + 11));
//   return { scale, x, y };
// };

//     const zoom = function(direction){
//   const { scale, x, y } = getTransformParameters(frame);
//   let dScale = 0.5;
//   if (direction == "out") dScale *= -1;
//   if (scale == 0.1 && direction == "out") dScale = 0;
//   frame.style.transform = getTransformString(scale + dScale, x, y);
// };
// zoom("out")
const transform = frame.style.transform;
console.log(transform);
let bubble = section1()
scale = parseFloat(transform.slice(transform.indexOf("scale") + 6));
//bubble.style.transform = "scale(" + 0.5 + ") "
frame.style.transform = "scale(" + 0.1 + ") "
    
</script>