<h1>Canvas 1</h1>
<p>Drawing to an offscreen canvas and then copy to main canvas</p>


<div class="container-fluid">


    <div class="row">
        <div class="col-sm-4 bgDemo">
            <canvas id="canvas" width="340" height="340" style="border-style: solid;"></canvas>
        </div>
        <div class="col-sm-8 bgTextBox">
            <h4>Offscreen canvas</h4>
            <pre>
            <code>
var c = document.getElementById("canvas");
var hidden_canvas = document.createElement("canvas");
hidden_canvas.width = 600;
hidden_canvas.height =600
var ctx = hidden_canvas.getContext("2d");  
ctx.beginPath();
ctx.rect(20, 20, 100, 100);
ctx.rect(320, 320, 100, 100);
ctx.stroke();
ctx.beginPath();
var r = 50
ctx.arc(320+r,320+r,r, 0, 2 * Math.PI);
ctx.fillStyle = "red";
ctx.fill();
ctx.stroke();
var visible_canvas = document.getElementById("canvas");
var vctx = visible_canvas.getContext("2d");
vctx.drawImage(hidden_canvas,0,0,ctx.canvas.width,ctx.canvas.height,0,0,vctx.canvas.width, vctx.canvas.height);
            </code>
        </pre>
        </div>
    </div>


</div>






<script>
    var c = document.getElementById("canvas");
    var hidden_canvas = document.createElement("canvas");
    hidden_canvas.width = 600;
    hidden_canvas.height = 600
    var ctx = hidden_canvas.getContext("2d");
    ctx.beginPath();
    ctx.rect(20, 20, 100, 100);
    ctx.rect(320, 320, 100, 100);
    ctx.stroke();
    ctx.beginPath();
    var r = 50
    ctx.arc(320 + r, 320 + r, r, 0, 2 * Math.PI);
    ctx.fillStyle = "red";
    ctx.fill();
    ctx.stroke();
    var visible_canvas = document.getElementById("canvas");
    var vctx = visible_canvas.getContext("2d");
    vctx.drawImage(hidden_canvas, 0, 0, ctx.canvas.width, ctx.canvas.height, 0, 0, vctx.canvas.width, vctx.canvas
        .height);
</script>