<h1>Canvas 3</h1>


<div class="container-fluid">


    <div class="row">

            <canvas id="canvas" width="340" height="340" style="border-style: solid;"></canvas>
       
    </div>


</div>






<script>
let image = new Image();
image.src = "img/womanexpression.png";
image.onload = function() {
    init();
};

let canvas = document.querySelector('canvas');
let ctx = canvas.getContext('2d');

function init() {
    console.log(canvas.width,image.width,image.height,canvas.width/image.width)
    
    ctx.drawImage(image,0,0,image.width,image.height,0,0,canvas.width,Math.round(canvas.height*(image.height/image.width)))
}

    
</script>
